<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="kunukn.GmcSettings">
      <section name="Global" type="System.Configuration.NameValueSectionHandler" />
      <section name="Local" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>

  <kunukn.GmcSettings>
    <Global configSource="App_Config\GmcGlobalKeySettings.config" />
    <Local>
      <!-- overwrite global key values here -->
      <add key="Environment" value="mstest" />
    </Local>
  </kunukn.GmcSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>