<?xml version="1.0"?>
<Global>   
  
    <!-- Configuration data for clustering, separate file to make the web.config file cleaner -->
    <!-- Read GmcSettings.cs for description -->

  <!-- debug purpose -->
  <add key="DoShowGridLinesInGoogleMap" value="true" />
  
  <!-- if bigger value then more expensive -->
  <add key="OuterGridExtend" value="0" />  
  
  <!-- if true, then more expensive -->
  <add key="DoUpdateAllCentroidsToNearestContainingPoint" value="false" /> 
  <add key="DoMergeGridIfCentroidsAreCloseToEachOther" value="true" />

  <!-- cache get markers and get marker info services -->
  <add key="CacheServices" value="true" />
  
  <!--heuristic value for when to merge clusters when close to each other -->
  <add key="MergeWithin" value="2.9" /> 
  
  <add key="MinClusterSize" value="2" />

  <!-- restrict json length for client -->
  <add key="MaxMarkersReturned" value="500" />

  <!-- server-side control, set to -1 for disabled -->
  <add key="AlwaysClusteringEnabledWhenZoomLevelLess" value="2" />
  
  <add key="ZoomlevelClusterStop" value="15" />
  <add key="Environment" value="dev" />
  <add key="Gridx" value="6" />
  <add key="Gridy" value="5" />  
  <add key="MarkerTypes" value="1;2;3" />
  <add key="MaxPointsInCache" value="100000000" />  
   
</Global>