<?xml version="1.0"?>
<Global>   
  
    <!-- read AlgoConfig.cs for description -->
  
  <add key="DoShowGridLinesInGoogleMap" value="true" />
  <add key="OuterGridExtend" value="0" />
  <add key="DoUpdateAllCentroidsToNearestContainingPoint" value="false" />
  <add key="DoMergeGridIfCentroidsAreCloseToEachOther" value="true" />
  <add key="MergeWithin" value="3" />
  <add key="MinClusterSize" value="2" />
  <add key="MaxMarkersReturned" value="500" />
  <add key="AlwaysClusteringEnabledWhenZoomLevelLess" value="2" /> <!-- server-side control, set to -1 for disabled -->
  <add key="ZoomlevelClusterStop" value="15" />
  <add key="Environment" value="dev" />
  <add key="PreClustered" value="false" />
  <add key="Gridx" value="6" />
  <add key="Gridy" value="5" />  
  <add key="MarkerTypes" value="1;2;3" />
   
</Global>