<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>   
    <sectionGroup name="kunukn.GmcSettings">
      <section name="Global" type="System.Configuration.NameValueSectionHandler" />
      <section name="Local" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>  
  </configSections>
  
  <connectionStrings></connectionStrings>

  <kunukn.GmcSettings>
    <Global configSource="GmcGlobalKeySettings.config" />
    <Local>
      <!-- overwrite global key values here -->
      <add key="Environment" value="local" />
    </Local>
  </kunukn.GmcSettings>
  
  <system.web>
    <customErrors mode="Off"/>
    
    <trace enabled="false" requestLimit="100" pageOutput="false" 
           traceMode="SortByTime" localOnly="true" mostRecent="true" />    
    <authentication mode="None" />

    <compilation debug="true">
      <buildProviders>        
        
        <add extension="html" type="System.Web.Compilation.PageBuildProvider"   />
      </buildProviders>
    </compilation>
    
    <httpHandlers>      
      <remove verb="*" path="*.html" />            
      <add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"  />
    </httpHandlers>
        
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="Kunukn.GooglemapsClustering.Clustering.WebService.Bind">          
        </binding>
      </webHttpBinding>
    </bindings>
    <services>     
      <service name="Kunukn.GooglemapsClustering.Clustering.WebService.AjaxService" 
               behaviorConfiguration="Kunukn.GooglemapsClustering.Clustering.WebService.ServiceBehavior">
        <endpoint address=""
                  behaviorConfiguration="Kunukn.GooglemapsClustering.Clustering.WebService.EndpointBehavior"
                  binding="webHttpBinding"
                  contract="Kunukn.GooglemapsClustering.Clustering.WebService.IAjaxService"
                  bindingConfiguration="Kunukn.GooglemapsClustering.Clustering.WebService.Bind" />
      </service>
      
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Kunukn.GooglemapsClustering.Clustering.WebService.EndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Kunukn.GooglemapsClustering.Clustering.WebService.ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>